.workerCard{
    grid-area: workerCard;
    border: 5px solid rgb(0, 191, 255);
    border-radius: 20px;
    background: rgba(176, 224, 230, 0.7);
    padding: 30px;
    font-size: 110%;
    height: 350px;
}

.emptyWorkerCard{
    grid-area: workerCard;
    border: 5px solid rgb(0, 191, 255);
    border-radius: 20px;
    background: rgba(176, 224, 230, 0.7);
}

.infoAlign{
    text-align: right;
}

.necessaryItem{
    font-size: 130%;
    color: red;
}