.workerCard{
    grid-area: workerCard;
    border: 5px solid rgb(0, 191, 255);
    border-radius: 20px;
    background: rgba(176, 224, 230, 0.7);
    padding: 30px;
    font-size: 110%;
    height: 350px;
}

.emptyWorkerCard{
    grid-area: workerCard;
    border: 5px solid rgb(0, 191, 255);
    border-radius: 20px;
    background: rgba(176, 224, 230, 0.7);
    height: 350px;
}

.infoAlign{
    text-align: right;
}

.necessaryItem{
    font-size: 130%;
    color: red;
}

.blockLine tr td{
    border-bottom: 2px solid rgb(53, 180, 223);
    padding: 15px 0 15px 0;
    border-spacing: 0px;
}