.worker{
    margin: 10px;
    border: 3px solid rgb(20, 140, 180);
    border-radius: 10px;
    padding: 5px;
}

.worker:hover{
    background: rgb(102, 205, 170);
    cursor: pointer;
}

.infoAlign{
    text-align: right;
}

table{
    width: 100%;
}

.invalidWorker{
    background: rgb(201, 37, 92);
}

.selectedWorker{
    background: rgb(102, 205, 170);
}